#opener1 p {
  display: none;
}
#opener2 p {
  display: none;
}
#opener3 p {
  display: none;
}
#opener4 p {
  display: none;
}
#opener5 p {
  display: none;
}
#opener6 p {
  display: none;
}
#opener7 p {
  display: none;
}
#opener8 p {
  display: none;
}
#opener9 p {
  display: none;
}
#opener10 p {
  display: none;
}
#opener11 p {
  display: none;
}
#opener12 p {
  display: none;
}
#opener13 p {
  display: none;
}
#opener14 p {
  display: none;
}
#opener15 p {
  display: none;
}
#opener16 p {
  display: none;
}
#opener17 p {
  display: none;
}
#opener18 p {
  display: none;
}
#opener19 p {
  display: none;
}
